* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.heading {
  padding: 20px;
  margin: 0px auto;
  display: grid;
}
.heading h1 {
  margin-top: 342px;
  font-family: "Ubuntu", sans-serif;
  font-size: 11rem;
  font-weight: 700;
  color: #fff;
}
.heading h3 {
  margin-top: 57px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 5px;
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
}
header {
  background-image: url(/week1/day5/images/bgi.jpeg);
  background-position: center;
  background-size: cover;
  width: 100vw;
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heading h1 {
    font-size: 6rem;
  }
  .heading h3 {
    font-size: 4.5rem;
  }
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 340px;
  }
  .heading h1 {
    font-size: 4.5rem;
  }
}

.childrens--section .container {
  display: flex;

  justify-content: center;
  margin: 0 auto;
  min-height: 514px;
  padding: 82px 0;
}
.childrens--section h2 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 81px 0 0;
  color: #fff;
  margin: 81px 0 0;
}
.childrens--section p {
  margin: 81px 0 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.childrens--section h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 35px;
  color: #000;
}
.childrens--section {
  background-color: #7da2a9;
  align-items: center;

  justify-content: center;
}
.childrens--section .container div {
  padding: 20px;
  width: 50%;
}
.childrens--section .container div:first-of-type {
  text-align: right;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 700px;
  }
  .childrens--section h2 {
    font-size: 48px;
  }
}
.childrens--section h2,
.childrens--section h3 {
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 767px) {
  .childrens--section .container {
    display: grid;
  }
  .childrens--section .container div {
    padding: 20px;
    width: 100%;
  }
  .childrens--section p,
  .childrens--section h2 {
    margin: 0px;
  }
}

.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  justify-content: center;
  margin: 0 auto;
}
.boxes-section {
  justify-content: center;
  margin: 120px auto;
}
.boxes-section > h1,
.boxes-section > p {
  text-align: center;
}
.boxes-section > h1 {
  font-size: 30px;
}
.boxes-section > p {
  margin-bottom: 50px;
}
@media (min-width: 790px) {
  .boxes-section > p {
    margin: 50px auto;
    width: 692px;
  }
}
.boxes-section h2,
.boxes-section h3,
.boxes-section p {
  margin-top: 30px;
}
.boxes-section h1,
.boxes-section h2 {
  font-family: "Ubuntu", sans-serif;
}
.boxes-section p {
  font-family: "Open Sans", sans-serif;
}

.boxes-section i {
  font-size: 30px;
  color: #7da2a9;
  padding: 10px;
}

@media (max-width: 767px) {
  .boxes {
    grid-template-columns: auto;
  }
}

.black-boxes {
  display: flex;
  margin: 92px 0;
}
.black-img {
  background-image: url(images/blackimg.jpeg);
  width: 200px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.black-boxes div {
  justify-content: center;
  padding: 100px 0px 0px 60px;
  width: 50%;
}
.black-section {
  background-color: #18181e;
  justify-content: center;
  align-items: center;
  display: grid;
}
.black-section {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}
.black-section h1 {
  font-size: 30px;
}
.black-section p{
  margin-top: 20px;
}
.black-section button {
  background-color: #7da2a9;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-family: "Open Sans" sans-serif;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .black-boxes {
    display: grid;
  }
  .black-boxes div {
    width: 100%;
    padding-left: 0px;
  }
}
