*{margin:0;padding: 0;font-family: Arial, Helvetica, sans-serif;}
header{justify-content: space-between;display: flex;}
header ,section ,footer{padding: 20px 70px;}
nav,ul{display: flex; align-items: center;}
nav ul a {text-decoration: none;color: #000;}
nav ul li{padding: 0 50px;}
nav button{width: 150px;height: 50px; background-color: rgb(9, 16, 152); color: #fff;}
#hero_and_register{display: flex; background-color: rgb(9, 16, 152);align-items: center; height: 500px;justify-content: space-between;}
#hero_and_register .div1{width: 50%;}
#hero_and_register .div1 h1{color: #fff; font-size: 50px;}
#hero_and_register .div1 p{color: #707070;}
#hero_and_register .div2{padding: 20px;background-color: #fff; border-radius: 10px;}
.div2 form{ width: 100%; margin: 20px;}
.fullname{display: flex;margin-top: 20px;}
.fullname input{width: 300px}
.emailhissesi input{width: 600px;}
.div2 input{height: 50px;}
input{margin-bottom: 20px;}
.start{padding: 6px;border-radius: 20px;width: 100px;}
.down{width:600px;height: 40px;background-color: rgb(9, 16, 152) ;color: #fff;}
.div2 h1{margin-bottom: 20px;}

